@{
    ViewBag.Title = "Home Page";
}
<div id="fh5co-hero">
    <a href="#fh5co-main" class="smoothscroll fh5co-arrow to-animate hero-animate-4"><i class="ti-angle-down"></i></a>
    <!-- End fh5co-arrow -->
    <div class="container">
        <div class="col-md-8 col-md-offset-2">
            <div class="fh5co-hero-wrap">
                <div class="fh5co-hero-intro">
                    <h1 class="to-animate hero-animate-1">SEO Manager</h1>
                    <h2 class="to-animate hero-animate-2">Cung cấp giải pháp quản trị SEO tốt nhất cho bạn </h2>
                    <p class="to-animate hero-animate-3"><a href="~/Account/LogInAsync" class="btn btn-outline btn-lg">Bắt đầu dùng thử</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="fh5co-main">

    <div class="container">
        <div class="row" id="fh5co-features">

            <div class="col-md-4 col-sm-6 text-center fh5co-feature feature-box">
                <div class="fh5co-feature-icon">
                    <i class="ti-mobile"></i>
                </div>
                <h3 class="heading">Mobile</h3>
                <p>Giao diện sử dụng thân thiện.</p>
            </div>
            <div class="col-md-4 col-sm-6 text-center fh5co-feature feature-box">
                <div class="fh5co-feature-icon">
                    <i class="ti-lock"></i>
                </div>
                <h3 class="heading">Lock</h3>
                <p>Bảo mật thông tin khách hàng. </p>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-4 col-sm-6 text-center fh5co-feature feature-box">
                <div class="fh5co-feature-icon">
                    <i class="ti-video-camera"></i>
                </div>
                <h3 class="heading">Video</h3>
                <p>Tài liệu hướng dẫn sử dụng phong phú.</p>
            </div>
            <div class="clearfix visible-md-block visible-lg-block"></div>
            <div class="col-md-4 col-sm-6 text-center fh5co-feature feature-box">
                <div class="fh5co-feature-icon">
                    <i class="ti-shopping-cart"></i>
                </div>
                <h3 class="heading">Shop</h3>
                <p>Nhiều gói cước tùy theo nhu cầu sử dụng. </p>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-4 col-sm-6 text-center fh5co-feature feature-box">
                <div class="fh5co-feature-icon">
                    <i class="ti-palette"></i>
                </div>
                <h3 class="heading">Pallete</h3>
                <p>Phân tích dữ liệu sinh động.</p>
            </div>
            <div class="col-md-4 col-sm-6 text-center fh5co-feature feature-box">
                <div class="fh5co-feature-icon">
                    <i class="ti-truck"></i>
                </div>
                <h3 class="heading">Deliver</h3>
                <p>Report báo cáo qua email hoặc excel.</p>
            </div>
        </div>
        <!-- END row -->
        <div class="fh5co-spacer fh5co-spacer-md"></div>
        <!-- End Spacer -->
        <div class="row" id="fh5co-works">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-section-heading work-box">
                <h2 class="fh5co-lead">Được tin tưởng và sử dụng bởi</h2>
                <p class="fh5co-sub"> Những công ty hàng đầu về SEO, Quản trị bán hàng ...</p>
                <div class="fh5co-spacer fh5co-spacer-sm"></div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 text-center fh5co-work-item work-box">
                <figure><a href="#"><img class="img-responsive" src="images/work_1.jpg" alt="VnExpress"></a></figure>
                <p class="fh5co-category">Báo điện tử uy tín nhất Việt Nam </p>
                <h3 class="heading">2018</h3>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 text-center fh5co-work-item work-box">
                <figure><a href="#"><img class="img-responsive" src="images/work_2.jpg" alt="Lazada"></a></figure>
                <p class="fh5co-category">Trang thương mại điện tử lớn nhất Việt Nam </p>
                <h3 class="heading">2018</h3>
            </div>
            <div class="clearfix visible-sm-block visible-xs-block"></div>
            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 text-center fh5co-work-item work-box">
                <figure><a href="#"><img class="img-responsive" src="images/work_3.jpg" alt="AloUc"></a></figure>
                <p class="fh5co-category">Báo hàng đầu nước úc </p>
                <h3 class="heading">2018</h3>
            </div>
       
        </div>
        <!-- END row -->

        <div class="fh5co-spacer fh5co-spacer-md"></div>
        <div class="row">
            <!-- Start Slider Testimonial -->
            <h2 class="fh5co-uppercase-heading-sm text-center animate-box">Khách hàng nhận xét...</h2>
            <div class="fh5co-spacer fh5co-spacer-xs"></div>
            <div class="owl-carousel-fullwidth animate-box">
                <div class="item">
                    <p class=" text-center quote">&ldquo; Là những dịch vụ đầu tiên để quản trị SEO một cách chuyên nghiệp &rdquo; <cite class="author">&mdash; Hieu.P</cite></p>
                </div>
                <div class="item">
                    <p class="text-center quote">&ldquo;Website này đã hổ trợ tôi rất nhiều trong công việc SEO hàng ngày &rdquo;<cite class="author">&mdash; Kien.V</cite></p>
                </div>
                <div class="item">
                    <p class="text-center quote">&ldquo;Tôi tin tưởng vào sự thành công về ý tưởng độc đáo này trong tương lai. &rdquo;<cite class="author">&mdash; Mai Chi</cite></p>
                </div>
            </div>
            <!-- End Slider Testimonial -->
        </div>
        <!-- END row -->
        <div class="fh5co-spacer fh5co-spacer-md"></div>
    </div>
    <!-- END container -->

</div>
<!-- END fhtco-main -->